{% extends "base.html" %}

{% block main %}
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
      <div class="row border-top px-xl-5">
        <div class="col-lg-9">
          <nav
            class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"
          >
            <div
              class="collapse navbar-collapse justify-content-between"
              id="navbarCollapse"
            >
              <div class="navbar-nav mr-auto py-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Pages</a
                  >
                </div>
              </div>
              <div class="navbar-nav ml-auto py-0">
                <a href="#" data-toggle="modal" data-target="#loginModal" id="emailLink"></a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- Navbar End -->
    
    <!-- Search Header -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3" id="searchFor">Search results for: </h1>
        </div>
    </div>
    <!-- Search Header End -->

    <!-- Articles Display -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-black">
                            <label class="custom-control-label" for="color-black">Black</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-white">
                            <label class="custom-control-label" for="color-white">White</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-red">
                            <label class="custom-control-label" for="color-red">Red</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-grey">
                            <label class="custom-control-label" for="color-grey">Grey</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-green">
                            <label class="custom-control-label" for="color-green">Green</label>
                        </div>
                </div>
                <!-- Color End -->

            </div>
            <!-- Shop Sidebar End -->
           
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    {% for article in search %}
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1" data-product="{{article.product_type_name}}"
                                                                   data-color="{{article.colour_group_name}}">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100" 
                                          data-product="{{article.product_type_name}}"
                                          data-color="{{article.colour_group_name}}" alt="">
                              </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{article.product_type_name}}</h6>
                                <h6>Color: {{article.colour_group_name}}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>${{article.price*1000}}</h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a  class="btn btn-sm text-dark"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <a  class="btn btn-sm text-dark p-0" data-product="{{article.product_type_name}}"
                                  data-price="{{article.price*1000}}"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Shop Product End -->

            
        </div>
    </div>
    <!--  Articles Display End -->
    
    <!-- Login Modal -->
    <form action="/login" method="POST">

        <div
        class="modal fade"
        id="loginModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="loginModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                >
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    />
                </div>
                <!-- Register link -->
                <div class="text-center">
                <p>Not a member? <a href="#" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Register</a>

                </p>
                <p>or sign up with:</p>
                <button
                    type="button"
                    class="btn btn-link btn-floating mx-1"
                >
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button
                    type="button"
                    class="btn btn-link btn-floating mx-1"
                >
                    <i class="fab fa-google"></i>
                </button>

                <button
                    type="button"
                    class="btn btn-link btn-floating mx-1"
                >
                    <i class="fab fa-twitter"></i>
                </button>

                <button
                    type="button"
                    class="btn btn-link btn-floating mx-1"
                >
                    <i class="fab fa-github"></i>
                </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                Login
                </button>
            </div>
            </div>
        </div>
        </div>
    </form>

    <!-- Login Modal End -->

    <!-- Register Modal -->
    <div
      class="modal fade"
      id="registerModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="registerModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="registerModalLabel"
            >
              Register
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                />
            </form>
              <div class="text-center">
              <p>Already a member? <a href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login</a>
                </p>
              </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  Register Modal End -->
    {% endblock %}
